@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@200&family=Poppins:ital,wght@0,400;1,100;1,200&family=Teko:wght@500&display=swap');

*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
   overflow-x: hidden;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
   
}
header img{
    width: 50px;
    height: 50px;
}
.logo{
    width: 50px;
    height: 50px;
}
#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    background-color: rgb(3, 43, 50);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  h1 {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
}
.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.swiper-pagination-bullet{
    background-color: transparent;
}
.home-text{
    width: 50%;
    float: left;
    clear: both;
    z-index: 12000;
    text-align: left;
}
.home-text h1{
    padding: 0;
    margin: 0;
    left: 20%;
    color:#fff;
    font-size:2rem;
}
.home-text .cheap{
  background-color: #005eff;
  background-image: linear-gradient(45deg, #0419ff, #00ff1e);
  background-size: 100%;
  -webkit-background-clip: text;
  font-size: 3rem;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  text-shadow: 3px 3px rgb(255, 255, 255);
  -moz-text-fill-color: transparent;
}
/*footer*/
.footer{
  background-color: rgb(3, 43, 50);
  height:100%;
  text-align: center;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
}

.footer .box-container .box{
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 1.6rem;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: inline-block;
  margin-left: 15px;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover i{
  color: yellow;
}
footer a:hover{
  color: yellow!important
}
footer span {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
footer i{
  color: white;
  font-size: 1.5rem;
  margin-left: 5px;
  
}
.copyright{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
  .f{
    display: flex;
    padding: 0;
    margin: 0;
  }
  .form{
   width:95%;
   text-align: center;
}

.form-text{
    text-align: center;
}

.form-text h2{
    color: rgb(3, 43, 50);
    font-size: 30px;
    margin: 10px 0px;
    z-index: 1000;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: rgb(3, 43, 50);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 100%;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: rgb(3, 43, 50);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div label{
    width: 100%;
    color: rgb(3, 43, 50);
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    width: 200px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    width: 200px;
    background-color: rgb(3, 43, 50) !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}
#sucsess{
  width: 100%;
  color: white;
  background-color: green;
  animation: status 4s ease forwards;
}
.error{
  background-color:red;
  color:#fff;
  animation: status 4s ease forwards;
}

@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 0;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}
  @media only screen and (max-width: 800px) {
    header nav {
      display: none;
    }
    .home-text h1{
      left: 50%;
    }
    .main-form{
      text-align: center;
  }
    #hamburger-icon {
      display: block;
    }
   
  
  }